<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Custom Color Presets</key>
	<dict>
		<key>iterm2-color</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0894780233502388</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0894780233502388</real>
				<key>Red Component</key>
				<real>0.0894780233502388</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.52459388971328735</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.2621045708656311</real>
				<key>Red Component</key>
				<real>0.99507361650466919</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.44499856233596802</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88998401165008545</real>
				<key>Red Component</key>
				<real>0.74167215824127197</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49999845027923584</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.94998174905776978</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.74449914693832397</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.62147313356399536</real>
				<key>Red Component</key>
				<real>0.7441641092300415</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999266862869263</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84248507022857666</real>
				<key>Red Component</key>
				<real>0.37002021074295044</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.064785227179527283</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.859466552734375</real>
				<key>Red Component</key>
				<real>0.59313499927520752</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.44999849796295166</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.85498350858688354</real>
				<key>Red Component</key>
				<real>0.90000218152999878</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.564605712890625</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.39692094922065735</real>
				<key>Red Component</key>
				<real>0.035141397267580032</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21733582019805908</real>
				<key>Red Component</key>
				<real>0.60771995782852173</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84999370574951172</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.71611225605010986</real>
				<key>Red Component</key>
				<real>0.31451699137687683</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78104287385940552</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.78104287385940552</real>
				<key>Red Component</key>
				<real>0.78104299306869507</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40781933069229126</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40781933069229126</real>
				<key>Red Component</key>
				<real>0.40781933069229126</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.67643225193023682</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.50080287456512451</real>
				<key>Red Component</key>
				<real>0.98038989305496216</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0894780233502388</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0894780233502388</real>
				<key>Red Component</key>
				<real>0.0894780233502388</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78104287385940552</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.78104287385940552</real>
				<key>Red Component</key>
				<real>0.78104299306869507</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78104287385940552</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.78104287385940552</real>
				<key>Red Component</key>
				<real>0.78104299306869507</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.86968445777893066</real>
				<key>Red Component</key>
				<real>0.75813823938369751</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>7A798D84-9596-41A6-8D3F-564CEB5B9E34</string>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>Hotkey</key>
	<false/>
	<key>HotkeyChar</key>
	<integer>32</integer>
	<key>HotkeyCode</key>
	<integer>49</integer>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyModifiers</key>
	<integer>1310985</integer>
	<key>NeverWarnAboutOverrides</key>
	<true/>
	<key>NeverWarnAboutOverrides_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.070588238537311554</real>
				<key>Green Component</key>
				<real>0.070588238537311554</real>
				<key>Red Component</key>
				<real>0.070588238537311554</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.27874755859375</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.27874755859375</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3713659942150116</real>
				<key>Green Component</key>
				<real>0.87939631938934326</real>
				<key>Red Component</key>
				<real>0.69346785545349121</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42728197574615479</real>
				<key>Green Component</key>
				<real>0.94947350025177002</real>
				<key>Red Component</key>
				<real>0.99927449226379395</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.68627452850341797</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.52941179275512695</real>
				<key>Red Component</key>
				<real>0.68627452850341797</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999266862869263</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54089408786967386</real>
				<key>Red Component</key>
				<real>0.37002021074295038</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.12714728247374296</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.67498779296875</real>
				<key>Red Component</key>
				<real>0.22316314589229122</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37670767307281494</real>
				<key>Green Component</key>
				<real>0.83169490098953247</real>
				<key>Red Component</key>
				<real>0.87502807378768921</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.8458251953125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.45640007727052989</real>
				<key>Red Component</key>
				<real>0.04007396288216114</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<real>0.52941179275512695</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81416356563568115</real>
				<key>Green Component</key>
				<real>0.65859752893447876</real>
				<key>Red Component</key>
				<real>0.26240241527557373</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>0.33333333333333331</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.61410599946975708</real>
				<key>Green Component</key>
				<real>0.40106064081192017</real>
				<key>Red Component</key>
				<real>0.9644390344619751</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.070588238537311554</real>
				<key>Green Component</key>
				<real>0.070588238537311554</real>
				<key>Red Component</key>
				<real>0.070588238537311554</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>120</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>7A798D84-9596-41A6-8D3F-564CEB5B9E34</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x19-0x60000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>39</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0x68-0x40000-0x4</key>
				<dict>
					<key>Action</key>
					<integer>31</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x6b-0x100000-0x28</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>0x06</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x6c-0x40000-0x25</key>
				<dict>
					<key>Action</key>
					<integer>30</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x9-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>32</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf700-0x300000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>7</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf701-0x300000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>6</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf702-0x320000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>33</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf703-0x320000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>34</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf703-0x380000-0x7c</key>
				<dict>
					<key>Action</key>
					<integer>0</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf729-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>5</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72b-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>4</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72c-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>9</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72c-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>9</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72d-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>8</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72d-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>8</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Minimum Contrast</key>
			<integer>0</integer>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>MesloLGS-NF-Regular 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>PragmataProForPowerline 12</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>35</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>10000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<false/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/doortts</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.070588238537311554</real>
				<key>Green Component</key>
				<real>0.070588238537311554</real>
				<key>Red Component</key>
				<real>0.070588238537311554</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.27874755859375</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.27874755859375</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3713659942150116</real>
				<key>Green Component</key>
				<real>0.87939631938934326</real>
				<key>Red Component</key>
				<real>0.69346785545349121</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42728197574615479</real>
				<key>Green Component</key>
				<real>0.94947350025177002</real>
				<key>Red Component</key>
				<real>0.99927449226379395</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.68627452850341797</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.52941179275512695</real>
				<key>Red Component</key>
				<real>0.68627452850341797</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999266862869263</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54089408786967386</real>
				<key>Red Component</key>
				<real>0.37002021074295038</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.12714728247374296</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.67498779296875</real>
				<key>Red Component</key>
				<real>0.22316314589229122</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37670767307281494</real>
				<key>Green Component</key>
				<real>0.83169490098953247</real>
				<key>Red Component</key>
				<real>0.87502807378768921</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.8458251953125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.45640007727052989</real>
				<key>Red Component</key>
				<real>0.04007396288216114</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<real>0.52941179275512695</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81416356563568115</real>
				<key>Green Component</key>
				<real>0.65859752893447876</real>
				<key>Red Component</key>
				<real>0.26240241527557373</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>0.33333333333333331</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.61410599946975708</real>
				<key>Green Component</key>
				<real>0.40106064081192017</real>
				<key>Red Component</key>
				<real>0.9644390344619751</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.070588238537311554</real>
				<key>Green Component</key>
				<real>0.070588238537311554</real>
				<key>Red Component</key>
				<real>0.070588238537311554</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blend</key>
			<real>0.5</real>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>2</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>120</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>CBAF5950-2219-4CAB-8127-81ED018C3596</string>
			<key>Has Hotkey</key>
			<true/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>HotKey Activated By Modifier</key>
			<false/>
			<key>HotKey Alternate Shortcuts</key>
			<array/>
			<key>HotKey Characters</key>
			<string> </string>
			<key>HotKey Characters Ignoring Modifiers</key>
			<string> </string>
			<key>HotKey Key Code</key>
			<integer>49</integer>
			<key>HotKey Modifier Activation</key>
			<integer>0</integer>
			<key>HotKey Modifier Flags</key>
			<integer>524288</integer>
			<key>HotKey Window Animates</key>
			<true/>
			<key>HotKey Window AutoHides</key>
			<true/>
			<key>HotKey Window Dock Click Action</key>
			<integer>0</integer>
			<key>HotKey Window Floats</key>
			<false/>
			<key>HotKey Window Reopens On Activation</key>
			<false/>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x19-0x60000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>39</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0x68-0x40000-0x4</key>
				<dict>
					<key>Action</key>
					<integer>31</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x6b-0x100000-0x28</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>0x06</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x6c-0x40000-0x25</key>
				<dict>
					<key>Action</key>
					<integer>30</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>0x74-0x100000</key>
				<dict>
					<key>Action</key>
					<integer>27</integer>
					<key>Apply Mode</key>
					<integer>0</integer>
					<key>Escaping</key>
					<integer>2</integer>
					<key>Text</key>
					<string>CBAF5950-2219-4CAB-8127-81ED018C3596</string>
					<key>Version</key>
					<integer>2</integer>
				</dict>
				<key>0x9-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>32</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf700-0x300000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>7</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf701-0x300000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>6</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf702-0x320000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>33</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf703-0x320000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>34</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf703-0x380000-0x7c</key>
				<dict>
					<key>Action</key>
					<integer>0</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf729-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>5</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72b-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>4</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72c-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>9</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72c-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>9</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72d-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>8</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
				<key>0xf72d-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>8</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string></string>
					<key>Version</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Minimum Contrast</key>
			<integer>0</integer>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Hotkey Window</string>
			<key>Non Ascii Font</key>
			<string>MesloLGS-NF-Regular 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>PragmataProForPowerline 12</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>10000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<false/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>2</integer>
			<key>Working Directory</key>
			<string>/Users/doortts</string>
		</dict>
	</array>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SwitchPaneModifier</key>
	<integer>4</integer>
	<key>SwitchTabModifier</key>
	<integer>9</integer>
	<key>SwitchWindowModifier</key>
	<integer>9</integer>
	<key>TimeBetweenTips</key>
	<real>604800</real>
	<key>UseBorder</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
